*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    background: center / cover no-repeat fixed url(../imgs/wood_wall.jpg);
    font-family: 'Rethink Sans', sans-serif;
}

#contentBox {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* .main-img {
    width: 1000px;
    height: auto;
    border-radius: 20px;
    border: 10px ridge rgb(255, 196, 0);
    user-select: none;
} */

/* main page start*/
#content {
    margin: 3rem 0;
    flex: 1;
}

.content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.header,
.title {
    font-family: 'Playfair Display', serif;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.main-logo {
    font-size: 4.5rem;
    font-weight: 600;
    text-shadow: 10px 10px 10px black;
}

.wood-oven {
    width: 6rem;
    height: auto;
    filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

.tabs {
    color: white;
    display: flex;
    gap: 2rem;
    width: fit-content;
    align-self: center;
}

.tabs>div {
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.tabs>div:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.tabs>div.selected-tab {
    background: linear-gradient(0deg, rgba(255, 218, 0, 1) -30%, rgba(255, 0, 0, 1) 120%);
    color: black;
}

.tabs>div.selected-tab:hover {
    color: white;
}

/* home tab start */
.p-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60vw;
}

.p-item {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2rem;
    gap: 1rem;
}

.p-item>.title {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.p-main {
    font-size: 1.2rem;
}

/* home tab end */

.footer {
    flex: 0;
    box-shadow: 0px -5px 15px rgb(0, 0, 0);
    background-color: #000000;
    color: white;
    padding: 1rem 0;
    width: 100%;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.link-wrapper>div>a {
    color: rgb(255, 145, 0);
    text-decoration: none;
}

.link-wrapper>div>a:hover {
    color: rgb(255, 94, 0);
}

/* main page end */

/* menu tab start */
.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* width: 60vw; */
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: black;
    color: white;
    padding: 2rem;
}

.menu-img-1 {
    width: 700px;
    height: auto;
}

.menu-img-2 {
    width: 700px;
    height: auto;
}

.menu-img-3 {
    width: 700px;
    height: auto;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    width: 600px;
}

.text-wrapper>.title {
    font-weight: 500;
    font-size: 2rem;
}

.text-wrapper>div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(226, 226, 226);
}

/* menu tab end */

/* contact tab start */
.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

/* contact form start */

.contact-form-wrapper {
    background-color: black;
    padding: 2rem 0;
    width: 100%;
}

.contact-form-wrapper>.title {
    font-size: 2rem;
    font-weight: 500;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.contact-form>p {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.contact-form>p>div {
    grid-column: span 2;
    justify-self: end;
}

.contact-form>p>label {
    align-self: center;
}

.contact-form>p:nth-child(3)>label {
    align-self: start;
    margin-top: 0.6rem;
}

.contact-form>p>input,
.contact-form>p>textarea {
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    padding: 0.6rem;
    font-family: 'Rethink Sans', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.contact-form>p>textarea {
    resize: vertical;
}

.contact-form>p>input:focus,
.contact-form>p>textarea:focus {
    outline: none;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.contact-form>p>:invalid {
    border: 2px solid red;
}

.contact-form>p>:invalid:focus {
    background-color: #ffc7c7;
}

.contact-form>button {
    align-self: end;
    padding: 0.5rem 1.5rem;
    border: none;
    color: white;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Rethink Sans', sans-serif;
}

.contact-form>button:hover {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

label[for="email"]::after,
label[for="message"]::after {
    color: red;
    content: " *";
}

/* contact form end */

/* contact social start */

.contact-socials-wrapper {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    gap: 3rem;

}

.contact-socials-wrapper>div.title {
    font-size: 2rem;
    font-weight: 500;
}

.contact-socials-icons {
    display: flex;
    gap: 2rem;
}

.fa-brands {
    font-size: 2rem;
}

.fa-brands:hover {
    color: rgb(255, 145, 0);
    cursor: pointer;
}

/* contact social end */

/* .contact-form>p>label {
    grid-area: label;
} */

/* contact tab end */