:root {
    --main-color: black;
    --accent-color: rgb(226, 226, 226);
    --p-text: 1.2rem;
    --p-text-weight: 400;
    --p-title-color: white;
    --secondary-color: white;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    background: center / cover no-repeat fixed url(../src/wood_wall.jpg);
    font-family: 'Rethink Sans', sans-serif;
}

#contentBox {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* footer start */
.footer {
    flex: 0;
    box-shadow: 0px -5px 15px var(--main-color);
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    width: 100%;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link-wrapper>div>a {
    color: rgb(255, 145, 0);
    text-decoration: none;
}

.link-wrapper>div>a:hover {
    color: rgb(255, 94, 0);
}

.authors {
    display: flex;
    flex-direction: column;
}

.credits {
    text-align: end;
}

/* footer end */

/* main page start*/
#content {
    margin-top: 2rem;
    margin-bottom: 3rem;
    flex: 1;
}

.content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.header,
.title {
    font-family: 'Playfair Display', serif;
    color: var(--secondary-color);
}

.title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    min-width: 600px;
}

.main-logo {
    font-size: 4.5rem;
    font-weight: 600;
    text-shadow: 10px 10px 10px black;
}

.wood-oven {
    width: 6rem;
    height: auto;
    filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

.tabs {
    color: var(--secondary-color);
    display: flex;
    gap: 2rem;
    width: fit-content;
    align-self: center;
}

.tabs>div {
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.tabs>div:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.tabs>div.selected-tab {
    background: linear-gradient(0deg, rgba(255, 218, 0, 1) -30%, rgba(255, 0, 0, 1) 120%);
    color: var(--main-color);
}

.tabs>div.selected-tab:hover {
    color: var(--secondary-color);
}

/* home tab start */
.p-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: clamp(700px, 60vw, 60vw);
}

.p-item {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}

.p-main {
    font-size: var(--p-text);
    color: var(--accent-color);
}

/* home tab end */

/* main page end */

/* menu tab start */
.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 2rem 0;
}

.menu-img {
    width: clamp(500px, 700px, 50%);
    height: auto;
    border-radius: 1rem;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    width: clamp(500px, 600px, 50%);
}

.text-wrapper>div:nth-child(2) {
    font-size: var(--p-text);
    font-weight: var(--p-text-weight);
    color: var(--accent-color);
}

/* menu tab end */

/* contact tab start */
.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

/* contact form start */

.contact-form-wrapper {
    background-color: var(--main-color);
    padding: 2rem 0;
    width: 100%;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--p-text);
    font-weight: var(--p-text-weight);
}

.contact-form>p {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.contact-form>p>div {
    grid-column: span 2;
    justify-self: end;
}

.contact-form>p>label {
    align-self: center;
}

.contact-form>p:nth-child(3)>label {
    align-self: start;
    margin-top: 0.6rem;
}

.contact-form>p>input,
.contact-form>p>textarea {
    background-color: var(--main-color);
    border: 2px solid var(--secondary-color);
    padding: 0.6rem;
    font-family: 'Rethink Sans', sans-serif;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}

.contact-form>p>textarea {
    resize: vertical;
}

.contact-form>p>input:focus,
.contact-form>p>textarea:focus {
    outline: none;
    background-color: var(--secondary-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.contact-form>p>:invalid {
    border: 2px solid red;
}

.contact-form>p>:invalid:focus {
    background-color: #ffc7c7;
}

.contact-form>button {
    align-self: end;
    padding: 0.5rem 1.5rem;
    border: none;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    background-color: var(--main-color);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Rethink Sans', sans-serif;
}

.contact-form>button:hover {
    border: 2px solid var(--main-color);
    background-color: var(--secondary-color);
    color: var(--main-color);
}

label[for="email"]::after,
label[for="message"]::after {
    color: red;
    content: " *";
}

/* contact form end */

/* contact social start */

.contact-socials-wrapper {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    gap: 3rem;

}

.contact-socials-icons {
    display: flex;
    gap: 2rem;
}

.fa-brands {
    font-size: 2rem;
}

.fa-brands:hover {
    color: rgb(255, 145, 0);
    cursor: pointer;
}

/* contact social end */

/* contact map start */

.contact-map-wrapper {
    background-color: var(--main-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-map-wrapper>p {
    font-size: var(--p-text);
    font-weight: var(--p-text-weight);
    color: var(--accent-color);
    align-self: center;
}

/* https://blog.hubspot.com/website/how-to-embed-google-map-in-html */
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

/* contact map end */

/* contact tab end */